* {
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  box-sizing: border-box;
}
.dog img {
  max-height: 60vh;
}

